body {
    background: rgb(34,54,56);
    background: linear-gradient(90deg, rgba(34,54,56,1) 0%, rgba(70,107,109,1) 100%);
    font-family: Arial, sans-serif ;
}

.main-block {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content {
    min-width: 1027px;
    min-height: 500px;
    display: flex;
    border-radius: 20px;
    background-color: white;
}

.userInfo {
    min-width: 1027px;
    min-height: 500px;
    padding: 97px 79px 0 79px;
    border-radius: 20px;
    background-color: white;
}

.name-block, .viewWomen {
    position: relative;
    padding: 30px 79px 180px 79px;
    width: 40%;
    border-radius: 20px 0 0 20px;
    background-color: #f0f0f0;
    text-align: center;
}

img {
    position: absolute;
    display: block;
}

.name-block img {
    margin-top: 140px;
    margin-left: -110px;
    width: 110%;
}

.viewWomen img {
    margin-top: 20px;
    margin-left: -10px;
    width: 60%;
}

.auth-block {
    width: 60%;
    padding: 97px 79px 180px 79px;
    border-radius: 0 20px 20px 0;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 0 0 25px 0;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
    font-size: inherit;
}

button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #36bcc5;
    cursor: pointer;
    font-size: inherit;
}

select {
    padding: 15px;

    border-radius: 10px;
    border: none;
    background-color: #f0f0f0;

    margin: 0 0 25px 0;
    width: 100%;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
}

h1{
    color: #13474a;
}

table,
td {
    width:100%;
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
